input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:black;
    color: orange;
  }
img{
    width:100%;
    height:300px;
}