
<div class="container">
    <div class="col-md-12 mb-3" style="margin-left: 20%;">
        <a [routerLink]="['/admin/dashboard']">back</a>
    </div>
    <div class="col-md-8 order-md-1" id="reg-title">
        <h3 id="add-head" class="mb-3">Add Product Detials</h3>
        <div class="add_prod">
            <form [formGroup]="form" style="margin-left: 12%;" (ngSubmit)="register()">
                <div class="row" style="margin-left: 8%;">
                    <div class="col-md-12 mb-3">
                        <label for="prod_code">Product Code</label>
                        <input type="number" style="width: 70%;" class="form-control" 
                            placeholder=" Enter Product Code" formControlName="prod_code" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="prod_name">Product Name</label>
                        <input type="text" style="width: 70%;" class="form-control" 
                        formControlName="prod_name" placeholder="Enter Product Name" required>
                    </div>
                </div>

                <div class="row" style="margin-left: 8%;">
                    <div class="col-md-12 mb-3">
                        <label>Select list (select one):</label>
                        <select class="form-control" formControlName="prod_cat" style="width: 70%;">
                            <option *ngFor="let s of prodcat" [value]="s">{{s}}</option>

                        </select>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" formControlName="price" 
                        placeholder="Enter Price"
                            style="width: 70%;" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" formControlName="color" placeholder="Enter the color"
                            style="width: 70%;" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="design">Design</label>
                        <input type="text" class="form-control" formControlName="design" placeholder="Enter the design pattern"
                            style="width: 70%;" required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="input-group mb-3">
   
                            <input type="file"  formControlName="file" id="filecd">
                                
                             
                          </div>

                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="submit" value="submit" class="btn btn-warning" style="width: 20%; margin-right: 5%;">
                   
                        <input type="reset"  value="Clear" class="btn btn-warning" style="width: 20%;">
                    </div>
                   
                </div>


            </form>
        </div>
    </div>
</div>

