
<div id="login-div">
  

        <h3>Login</h3>
    
        <input type="email"  [(ngModel)]="email1" class="form-control" placeholder="Email address" 
        style="width: 50%;"required autofocus>
       
        <br>
        <input type="password" id="password" [(ngModel)]="password1" class="form-control" placeholder="Password" style="width: 50%;"
            required>
        
        <a href="#" style="color: goldenrod; text-decoration:underline;">forget password?</a>
        <br>
        <br>
        <button class="btn  btn-warning" type="submit" (click)="login()"
         style="width: 25%; font-weight: bold; color:black" >Login</button>
        
       </div>
<script>
    
</script>