<div class="container">
  <div class="row">
    <div class="column">
     
      <img src="../../assets/p1.jpg">
      <br>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">&nbsp;&nbsp;:&nbsp;&nbsp;</span>
      <label id="nme" value="Loctus" for="" style="text-decoration: underline;">Designer Earings</label>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">
      <label>Designer Earnings are made every women a trendy style</label><br>
     
    </span>


      <div class="d-flex justify-content-between align-items-center" style="margin-top: 2%;margin-left: 23%;">
        <div class="btn-group">
         <!-- <a href="#" class="btn btn-sm btn-outline-warning" style="color:goldenrod;height: 40px;">Add To card</a>-->
          <a [routerLink]="['/vw_er_dt']" class="btn btn-sm btn-outline-warning" style="color:goldenrod; height: 40px;">View Details</a>
        </div>
      </div>
    </div>

    <div class="column">
     
      <img src="../../assets/setLogo.jpg">
      <br>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">&nbsp;&nbsp;:&nbsp;&nbsp;</span>
      <label id="nme" value="Loctus" for="" style="text-decoration: underline;">Taditional nacklaces</label>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">
      <label>Designer Nacklaces are made every women a trendy style</label><br>
     
    </span>


      <div class="d-flex justify-content-between align-items-center" style="margin-top: 2%;margin-left: 20%;">
        <div class="btn-group">

          <a [routerLink]="['/nck_list']" class="btn btn-sm btn-outline-warning" style="color:goldenrod; height: 40px;">View Details</a>
        </div>
      </div>
    </div>

    <div class="column">
     
      <img src="../../assets/b1.jpg">
      <br>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">&nbsp;&nbsp;:&nbsp;&nbsp;</span>
      <label id="nme" value="Loctus" for="" style="text-decoration: underline;">Bridal Bangles</label>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">
      <label>Designer Bangles are made every women a trendy style</label><br>
     
    </span>


    <div class="d-flex justify-content-between align-items-center" style="margin-top: 2%;margin-left: 20%;">
      <div class="btn-group">

        <a [routerLink]="['/bang_list']" class="btn btn-sm btn-outline-warning" style="color:goldenrod; height: 40px;">View Details</a>
      </div>
    </div>
    </div>

 
  </div>




  <div class="row">
    <div class="column">
     
      <img src="../../assets/hmS3.jpg">
      <br>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">&nbsp;&nbsp;:&nbsp;&nbsp;</span>
      <label id="nme" value="Loctus" for="" style="text-decoration: underline;">HandMade Jewllery</label>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">
      <label>Designer Handmade Jewllery are made every women a trendy style</label><br>
     
    </span>


    <div class="d-flex justify-content-between align-items-center" style="margin-top: 2%;margin-left: 20%;">
      <div class="btn-group">

        <a [routerLink]="['/hand_list']" class="btn btn-sm btn-outline-warning" style="color:goldenrod; height: 40px;">View Details</a>
      </div>
    </div>
    </div>

    <div class="column">
     
      <img src="../../assets/s4.jpg">
      <br>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">&nbsp;&nbsp;:&nbsp;&nbsp;</span>
      <label id="nme" value="Loctus" for="" style="text-decoration: underline;">Temple Jewllery</label>
      <span
        style="font-size:17px;text-align:center; margin-left:2%;">
      <label>Designer temple Jewllery are made every women a trendy style</label><br>
     
    </span>


    <div class="d-flex justify-content-between align-items-center" style="margin-top: 2%;margin-left: 20%;">
      <div class="btn-group">

        <a [routerLink]="['/temp_list']" class="btn btn-sm btn-outline-warning" style="color:goldenrod; height: 40px;">View Details</a>
      </div>
    </div>
    </div>


 
  </div>
</div>

